@import './functions';
@import './mixins';
@import './variables';
@import './reset';

@font-face {
  font-family: 'Spotify';
  /* stylelint-disable indentation */
  src: url('https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Book.3466e0ec.woff2')
      format('woff2'),
    url('https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Bold.8d0a45cc.woff2')
      format('woff2'),
    url('https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Light.afd9ab26.woff2')
      format('woff2');
}

:root {
  font-size: $root-size;
}

body {
  font-family: 'Spotify', sans-serif;
}

.wrapper {
  grid-template-columns: remsize(232) 1fr;
  grid-template-rows: remsize(60) 1fr remsize(90);

  @media screen and (max-width: remsize(770)) {
    display: flex;
    flex-direction: column;
  }
}

.menu {
  &__nav__left,
  &__nav__right {
    width: remsize(30);
    height: remsize(30);
    padding: remsize(8);
  }

  &__content__upgrade {
    @media screen and (max-width: remsize(770)) {
      display: none;
    }
  }

  @media screen and (max-width: remsize(770)) {
    min-height: 64px;
  }
}

.player {
  min-height: remsize(90);
}

.sidebar {
  display: grid;
  grid-template-rows: remsize(360) auto remsize(40);

  @media screen and (max-width: remsize(770)) {
    display: none;
  }

  &__item[selected='true'] {
    background: #aaa;
  }
}

.logo {
  width: remsize(140);
}

.plus-icon {
  width: remsize(32);
  height: remsize(32);
  background: #fff;
  padding: remsize(4);
  flex-shrink: 0;
}

.heart-wrapper {
  width: remsize(32);
  height: remsize(32);
  background: linear-gradient(135deg, #450af5, #c4efd9);
  padding: remsize(4);
  display: grid;
  place-items: center;
  color: #fff;
}

.h-11_5 {
  height: remsize(42);
}

.h-9_5 {
  height: remsize(38);
}

.delimiter {
  height: remsize(0.1);
  background: rgba(255, 255, 255, 0.5);
}

.item-border {
  border-bottom: remsize(1) solid rgba(0, 0, 0, 0.2);
}

#dropdown-menu {
  display: none;
}

.card-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  grid-gap: 16px;

  .card {
    overflow: hidden;

    &__image {
      width: 100%;
      padding-top: 100%;
    }

    &__content {
      &__description {
        line-height: remsize(16);
        max-height: remsize(32);
        overflow: hidden;
      }
    }
  }
}

#dropdown-icon.rotate {
  transform: rotate(180deg);
}
