@import './functions';
@import './mixins';
@import './variables';
@import './reset';

@font-face {
  font-family: 'Spotify';
  /* stylelint-disable indentation */
  src: url('https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Book.3466e0ec.woff2')
      format('woff2'),
    url('https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Bold.8d0a45cc.woff2')
      format('woff2'),
    url('https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Light.afd9ab26.woff2')
      format('woff2');
}

@font-face {
  font-family: 'glue1-spoticon';
  src: url(https://open.scdn.co/cdn/fonts/spoticon_regular_2.d319d911.woff2)
      format('woff2'),
    url(https://open.scdn.co/cdn/fonts/spoticon_regular_2.ff4c6091.woff)
      format('woff'),
    url(https://open.scdn.co/cdn/fonts/spoticon_regular_2.127670b5.ttf)
      format('truetype');
  font-weight: 400;
  font-style: normal;
}

[class*='spoticon-']::before {
  font-family: 'glue1-spoticon';
  font-style: normal;
  font-weight: 400;
}

:root {
  font-size: $root-size;
}

body {
  font-family: 'Spotify', sans-serif;
}

.wrapper {
  grid-template-columns: remsize(232) 1fr;
  grid-template-rows: remsize(60) 1fr remsize(90);

  @media screen and (max-width: remsize(770)) {
    display: flex;
    flex-direction: column;
  }
}

.menu {
  &__nav__left,
  &__nav__right {
    width: remsize(30);
    height: remsize(30);
    padding: remsize(8);
  }

  &__content__upgrade {
    @media screen and (max-width: remsize(770)) {
      display: none;
    }
  }

  @media screen and (max-width: remsize(770)) {
    min-height: remsize(64);
  }
}

.sidebar {
  display: grid;
  grid-template-rows: remsize(360) auto remsize(40);

  @media screen and (max-width: remsize(770)) {
    display: none;
  }

  &__item[selected='true'] {
    background: #aaa;
  }
}

.logo {
  width: remsize(140);
}

.plus-icon {
  width: remsize(32);
  height: remsize(32);
  background: #fff;
  padding: remsize(4);
  flex-shrink: 0;
}

.heart-wrapper {
  width: remsize(32);
  height: remsize(32);
  background: linear-gradient(135deg, #450af5, #c4efd9);
  padding: remsize(4);
  display: grid;
  place-items: center;
  color: #fff;
}

.h-11_5 {
  height: remsize(42);
}

.h-9_5 {
  height: remsize(38);
}

.delimiter {
  height: remsize(0.1);
  background: rgba(255, 255, 255, 0.5);
}

.item-border {
  border-bottom: remsize(1) solid rgba(0, 0, 0, 0.2);
}

#dropdown-menu {
  display: none;
}

.card-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  grid-gap: remsize(16);

  .card {
    overflow: hidden;

    &__image {
      width: 100%;
      padding-top: 100%;
    }

    &__content {
      &__description {
        line-height: remsize(16);
        max-height: remsize(32);
        overflow: hidden;
      }
    }
  }
}

#dropdown-icon.rotate {
  transform: rotate(180deg);
}

.player {
  min-height: remsize(90);

  &__left {
    width: 30%;

    &__thumb {
      width: 56px;
      height: 56px;
    }
  }

  &__center {
    width: 40%;
  }

  &__right {
    width: 30%;

    .player__sound__slider {
      width: 93px;
    }

    [class^='player__right__item'] {
      height: 32px;
      min-width: 32px;
      display: grid;

      & > * {
        place-self: center;
      }
    }
  }
}

.spoticon-queue::before {
  content: '';
  font-size: 16px;
  -webkit-transform: translateX(-1px);
  transform: translateX(-1px);
}

.spoticon-devices::before {
  content: '';
  font-size: 16px;
}
