@import "./functions";
@import "./mixins";
@import "./variables";
@import "./reset";

:root {
  font-size: $root-size;
}

.wrapper{
  grid-template-columns: Rem(232px) 1fr;
  grid-template-rows: Rem(60px) 1fr Rem(90px);
}

.menu__nav__left,.menu__nav__right{
  width:Rem(30px);
  height:Rem(30px);
  padding:Rem(7px);
}

.sidebar{
  display: grid;
  grid-template-rows: Rem(350px) auto Rem(44px);
}

.spotify-logo{
  width: 100%;
    height: Rem(45px);
    max-width: Rem(150px);
    color:#fff;    
}