<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title WebFront
  body
    .flex.h-screen.items-center.justify-center.text-6xl.bg-purple-700
      h1.text-white Hello world